@import'./reset.css';
/*比例 /19.22*/
.banner {
    height: 50px;
    background-color: #F3AA96;
    float: top;
}

.userbtn {
    height: 50px;
    float: right;
}

.usermsg {
    width: 105px;
    height: 40px;
    margin-top: 5px;
    padding-left: 5px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    float: left;
}

.userlogo {
    width: 35px;
    height: 35px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5px;
    float: left;
}

.username {
    font-size: 1.2em;
    padding-right: 7px;
    padding-left: 5px;
    padding-top: 10px;
    float: left;
}


/*功能按鈕樣式*/
.btns {
    height: 40px;
    width: 500px;
    padding-left: 10px;
    padding-top: 5px;
}

#btnpage ul li {
    line-height: 30px;
    display: inline-block;
    height: 100%;
    font-size: 1.2em;
    /*
    padding-left: 5px;
    padding-right: 7px;
    */
    border-right: solid gray 2px;
}

#btnpage ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    float: right;
    padding-right: 45px;
    /*padding-right: 45px;*/
    /*padding-top: 15px;*/
}

#btnpage li {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*設定超連結顏色*/
#btnpage a {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    padding-left: 8.5px;
    padding-right: 8.5px;
    border-radius: 5px;
    /*沒有底線*/
    text-decoration: none;
    text-align: center;
    color: black;
}
    /*按鈕hover設定*/
    #btnpage a:hover {
        background-color: #F9CAB4;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }



/*顯示區域置中設定*/
#main {
    /*height: 517.5px;*/
    /*width: 1055px;*/
    width: calc(70.75vw + 1.5vw + 23.5vw + 10px);
    /*height: 80vh;*/
    height: 90vh;
    /*
    min-height:517.5px;
    min-width: 1055px;
    */
    margin: auto;
}

#left {
    float: left;
}

/*ppt同步區塊*/
#pptshare {
    /*
    width:720px;
    height:405px;
    min-width:720px;
    min-height:405px;
    */
    /*
    width:1360px;
    height: 765px;
        width: 70.75vw;
    width:60vw;
    height:33.75vw;
    */
    width: 70.75vw;
    height: 39.8vw;
    background-color: #DDDBD5;
    /*margin-top: 25px;*/
    margin-top: calc((100vh - 50px - 90vh) / 2);
}

/*回饋按鈕*/
#fbbtn button {
    /*
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height:60px;
    */
    width: 4.7vw;
    height: 4.7vw;
    /*
    margin: 7.5px;
    margin-top: 20px;
    margin-left: 10px;
    */
    margin: 0.59vw;
    /*margin-top: 1vw;*/
    /*margin-top 全部高度 - banner - ppt區域 - 按鈕大小 -(回饋區上下間隔)*/
    margin-top: calc((100vh - 50px - 39.8vw - 4.7vw - (100vh - 50px - 90vh)) / 2 );
    margin-left: 0.78vw;
    border-radius: 60px;
    border: 0px;
    font-size: 1em;
    background-color: #F6B980;
    font-family: 'Microsoft JhengHei',Arial;
    font-weight: 900;
}

    #fbbtn button:hover {
      /*  color: white;
        background-color: #FDE3A6;*/
    }


#fast {
    background-image: url(../images/fastbtn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    #fast:hover {
        background-image: url(../images/fasthover.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

#noise {
    background-image: url(../images/noisebtn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    #noise:hover {
        background-image: url(../images/noisehover.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

#confuse {
    background-image: url(../images/confusebtn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    #confuse:hover {
        background-image: url(../images/confusehover.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

#OK {
    background-image: url(../images/OKbtn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

    #OK:hover {
        background-image: url(../images/OKhover.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

/*右側回饋訊息顯示與輸入欄*/
#fbmsg {
    /*
    width:300px;
    height: 495px;
    min-width: 300px;
    min-height:475px;
    */
    /*
    width:23.5vw;
    height:38.8vw;

    */
    width: 23.5vw;
    height: 45vw;
    background-color: #F8CDA6;
    border: solid #F8CDA6 5px;
    border-radius: 7px;
    /*margin-top:25px;*/
    margin-top: calc((100vh - 50px - 45vw - 10px) / 2);
    /*margin-left: 3vw;*/
    margin-left: 1.5vw;
    float: left;
    position: relative;
}
/*顯示區*/
#msgshow {
    /*
    height:27.42vw;
    width:23.5vw;
    */
    height: 670px;
    width: 23.5vw;
    background-color: #FEF7EC;
    /*
    height:370px;
    width:300px;
    min-width: 300px;
    min-height:350px;
    */
    overflow: auto;
}

    #msgshow div {
        /*
    width:290px;
    height:100px;
    min-width: 290px;
    min-height:100px;
    */
        width: calc(22.72vw - 10px -7.5px);
        height: 7.83vw;
        font-size: 1.2vw;
        border-bottom: solid #F8CDA6 3px;
        background-color: #FEF4DE;
        padding: 5px;
        word-break: break-all;
        position: relative;
    }

    #msgshow div {
        font-size: 1.3vw;
    }


    /*覆議按鈕樣式*/
    #msgshow button {
        /*
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height:40px;
    */
        width: 3.13vw;
        height: 3.13vw;
        margin: 7.5px;
        margin-right: 15px;
        right: 0px;
        bottom: 0px;
        border-radius: 30px;
        border: 0px;
        background-color: #F6B980;
        background-image: url(../images/raise.png);
        background-repeat: no-repeat;
        background-size: cover;
        float: right;
        position: absolute;
    }

        #msgshow button:hover {
            color: white;
            background-color: #FDE3A6;
        }

/*回饋訊息輸入區*/
#msgenter {
    /*
    width:300px;
    height:125px;
    min-width: 300px;
    min-height: 125px;
    */
    width: 23.5vw;
    height: 9.8vw;
    background-color: #F8CDA6;
    position: absolute;
    bottom: 0px;
}

/*預設訊息combobox*/
.default {
    margin: 5px;
}

#msgenter label {
    font-weight: bold;
    font-size: 1.2vw;
}

#default {
    margin-left: 5px;
    margin-top: 5px;
    /*font-size:18;*/
    font-size: 1.2vw;
    font-weight: bold;
}


/*訊息輸入框*/
#enter {
    /*
    width:290px;
    height:75px;
    min-width: 290px;
    min-height:75px;
    */
    width: 22.9vw;
    height: 6.75vw;
    overflow: auto;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 1.41vw;
    /*不可拖動*/
    resize: none;
    font-family: 'Microsoft JhengHei',Arial;
}


/*其它回饋按鈕*/
.elsesend {
    width: 3.8vw;
    height: 1.75vw;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0px;
    font-size: 1.2vw;
    background-color: #F6B980;
    font-family: 'Microsoft JhengHei',Arial;
    font-weight: 900;
    float: right;
}
