@import'./reset.css';

.banner{
    height: 50px;
    /*background-color: #628EA6;*/
    background-color: #ADD3EC;
    float: top;
}

.userbtn{
    height:50px;
    float:right;
}
.usermsg{
    width:105px;
    height:40px;
    margin-top:5px;
    padding-left: 5px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    background-color: rgba(255,255,255,0.3);
    border-radius:10px;
    float:left;
}
.userlogo{
    width:35px;
    height:35px;
    background-image:url(../images/user.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:2.5px;
    float:left;
}
.username{
    font-size: 1.2em;
    padding-right: 7px;
    padding-left: 5px;
    padding-top: 10px;   
    float:left;
}


/*功能按鈕樣式*/
.btns{
    height:40px;
    width:500px;
}
#btnpage ul li{
    display: inline;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 7px;
    border-right:solid gray 2px;
}
#btnpage ul{
    float: right;
    padding-right: 45px;
    padding-top: 15px;   
}
/*設定超連結顏色*/
#btnpage a{
    /*沒有底線*/
    text-decoration:none;
    color:black;
}
/*按鈕hover設定*/
#btnpage a:hover{
    text-decoration:none;
    color:white;
}

/*piechart與按鈕置中設定*/
#piemain{
    width:70.53vw;
    height:39.18vw;
    margin: auto;
    margin-top: calc((100vh - 50px - 39.18vw) / 2);
}

/*piechart樣式設定*/
#piechart{
    width: 78.36vw;
    height: 39.18vw;
    position:absolute;
    font-weight:bold;
    float:left;
    left:50%;
    margin-top: calc((100vh  - 50px - 39.18vw ) / 2);
    margin-left: -43.1vw;
}

#classbtn{
    height:39.18vw;
    position:absolute;
    left:50%;
    margin-top: calc((100vh  - 50px - 39.18vw ) / 2);
    margin-left: 23.51vw;
}

#classbtn button{
    width: 15.67vw;
    height: 3.13vw;
    margin-bottom: 0.62vw;
    border-radius: 10px;
    border:0px;
    font-size: 1.25vw;
    background-color:#FAD186;
    font-family: 'Microsoft JhengHei',Arial ;
    font-weight: bold;
}
/*按鈕動作*/
#classbtn button:hover{
    color:white;
    background-color:#FBDEC5;  
}