@import'./reset.css';

.banner{
    height: 50px;
    /*background-color: #628EA6;*/
    background-color: #ADD3EC;
    float: top;
}

.userbtn{
    height:50px;
    float:right;
}
.usermsg{
    width:105px;
    height:40px;
    margin-top:5px;
    padding-left: 5px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    background-color: rgba(255,255,255,0.3);
    border-radius:10px;
    float:left;
}
.userlogo{
    width:35px;
    height:35px;
    background-image:url(../images/user.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:2.5px;
    float:left;
}
.username{
    font-size: 1.2em;
    padding-right: 7px;
    padding-left: 5px;
    padding-top: 10px;   
    float:left;
}


/*功能按鈕樣式*/
.btns{
    height:40px;
    width:500px;
}
#btnpage ul li{
    display: inline;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 7px;
    border-right:solid gray 2px;
}
#btnpage ul{
    float: right;
    padding-right: 45px;
    padding-top: 15px;   
}
/*設定超連結顏色*/
#btnpage a{
    /*沒有底線*/
    text-decoration:none;
    color:black;
}
/*按鈕hover設定*/
#btnpage a:hover{
    text-decoration:none;
    color:white;
}

/*整個網頁的背景色*/
html{
    background-color: #DDDBD5;
    font-family: 'Microsoft JhengHei',Arial;
}

/*個人檔案顯示區域*/
#profile{
    width:58.77vw;
    height:31.34vw;
    margin:auto;
    margin-top:calc((100vh - 50px - (31.34vw + 3.9vw )) / 2);
    padding:1.95vw;
    border-radius: 50px;
    background-color: white;
}

/*我的帳號標題*/
#title{
    font-size: 2.19vw;
    font-weight: 600;
    margin-top:3.91vw;
    border-bottom:solid  #ADD3EC 5px;

    display: table;
    margin: auto;
    padding-bottom: 4px;
    font-weight: bold;
    color: #000;
}

/*左側圖式*/
#pic{
    width:23.51vw;
    height:23.51vw;
    background-image:url(../images/profile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:1.95vw;
    margin-top:2.46vw;
    float:left;
}

/*右側個人資料顯示*/
#account{
    width:23.51vw;
    height:23.51vw;
    margin-left:1.95vw;
    margin-top:2.46vw;
    float:left;
}

.nav div{
    width:13.71vw;
    margin-top:1.95vw;
    font-size:1.72vw;
    font-weight:600;
    text-align:right;
    float:left;
}

.nav li{
    width:27.42vw;
    text-align:left;
    display: inline-block;
}
/*姓名顯示區塊div*/
#name{
    width:11.75vw;
    text-align:left;
    float:right;
}
/*學校顯示區塊div*/
#School{
    width:11.75vw;
    text-align:left;
    float:right;
}
/*學號顯示區塊div*/
#stunum{
    width:11.75vw;
    text-align:left;
    float:right;
}
/*身分顯示區塊div*/
#identity{
    width:11.75vw;
    text-align:left;
    float:right;
}

/*修改密碼按鈕*/
#account button{
    min-width: 48px;
    width:6.26vw;
    height:2.74vw;
    margin: 7.5px;
    margin-top: 3.13vw;
    margin-left: 10.57vw;
    border-radius: 10px;
    border:0px;
    font-size: 1.25vw;
    color:#3B3838;
    background-color:#FAD186;
    font-family: 'Microsoft JhengHei',Arial ;
    font-weight:900;
}
#account button:hover{
    color:white;
    background-color:#FBDEC5;  
}

#password button{
    min-width: 48px;
    width:6.26vw;
    height:2.74vw;
    margin: 7.5px;
    margin-top: 0.5vw;
    margin-left: 10.57vw;
    border-radius: 10px;
    border:0px;
    font-size: 1.25vw;
    color:#3B3838;
    background-color:#FAD186;
    font-family: 'Microsoft JhengHei',Arial ;
    font-weight:900;
}
#password button:hover{
    color:white;
    background-color:#FBDEC5;  
}
/*修改密碼按鈕設定*/
.btnpwd a{
    /*沒有底線*/
    text-decoration:none;
    color:black;
}
/*按鈕hover設定*/
.btnpwd a:hover{
    text-decoration:none;
    color:white;
}


/*修改密碼區塊*/
#password{
    width:31.34vw;
    height:23.51vw;
    margin-left:1.95vw;
    margin-top:2.46vw;

    float:left;
}
.pwdnav div{
    width:15.67vw;
    height:2.35vw;
    margin-top:0.39vw;
    font-size:1.72vw;
    font-weight:600;
    text-align:right;
    float:left;
}
.pwdnav li{
    width:31.34vw;
    margin-top:1.95vw;
    text-align:left;
    display: inline-block;
}


/*修改密碼*/
#pwd1{
    width:23.51vw;
    height:2.35vw;
    padding:0.39vw 1.17vw; 
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Microsoft JhengHei',Arial ;
}

/*確認密碼*/
#pwd2{
    width:23.51vw;
    height:2.35vw;
    padding:0.39vw 1.17vw;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Microsoft JhengHei',Arial ;
}



/*確認修改按鈕設定*/
#OK a{
    /*沒有底線*/
    text-decoration:none;
    color:black;
}
/*按鈕hover設定*/
#OK a:hover{
    text-decoration:none;
    color:white;
}